
<div class="container" style="text-align:center">
  <div class="left">

  </div>
  <div class="right">
    <div class="login">
      <input type="text" name="" value="">
      <input type="password" name="" value="">
      <button type="submit" name="button">Login</button>
    </div>
  </div>
</div>
