* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}
.left {
  width: 50%;
  height: 100vh;
  /* background-color: #61476f2a /*#61476f*/;
  background-image: url('/assets/shop_edited.jpg');
}
.right {
  width: 50%;
  height: 100vh;
  background-color: #61476f;
}
.login {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50% auto;
}
.login input {
  margin: 0rem 0rem 2rem;
}
.login button {
color: #fff !important;
text-transform: uppercase;
background: #61476f;
padding: 20px;
border: 4px solid #fff !important;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

.login button:hover {
color: #fff !important;
border-radius: 50px;
border-color: #fff !important;
transition: all 0.3s ease 0s;
}
